<h1 class="title">Bienvenido</h1>
<h2 class="subtitle">estos son nuestros productos</h2>

<div class="cardContainer">
    {{#each productos}}
    <div class="card">
        <p>ID:{{this.id}}</p>
        <p>Titulo:{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>Precio:{{this.price}}</p>
    </div>
    {{/each}}
</div>