<h2>Productos en tiempo real</h2>

<div id="contenedorProductos"></div>

<h2> formulario de productos </h2>

<form id="form" action="">

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/main.js"></script>